<h3>Error al procesar la solicitud</h3>
<h5>Contacte con el administrador.</h5>

<div class="alert alert-danger">
    <h5>Ruta de la excepcion</h5>
    <p>@ViewBag.ExcepcionPath</p>
</div>
<div class="alert alert-danger">
    <h5>Mensaje de Error</h5>
    <p>@ViewBag.ExcepcionMessage</p>
</div>